.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.right{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.left{
    height: 500px;
    width: 500px;
}